body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --blue: rgb(0, 64, 255);
    --white: #ffffff;
    --dark: rgb(31, 31, 31);
}

h1 {
    display: none
}

h2 {
    color: gray
}

#left-nav {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    height: 100%;
}

#left-nav a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 64, 255);
    margin: 0;
    font-weight: normal;
    text-shadow: 1px 1px -1px #ddd;

}


#teaser {
    font-size: 2.2em;
    width: 80%;
    margin-top: 64px;
}

#teaser p {
    font-size: 1.0em;
    color: rgb(122, 122, 122);
    font-weight: lighter;
    /* text-shadow: 1px 1px 2px rgb(0, 0, 255); */
}

a {
    color: rgb(0, 0, 255);
    text-decoration: none;
}

#teaser p.main {
    font-size: 2.2em;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    text-shadow: 1px 1px 2px rgb(0, 0, 255);
    transition: color .9s ease-in-out;
}

#teaser p.main:hover {
    color: rgb(0, 64, 255)
}


#container {
    display: grid;
    grid-template-columns: 1fr 992px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "left-sidebar main  right-sidebar"
        "footer footer  footer";
    width: 100%;
    animation: oscillate 1000 linear;
    animation-iteration-count: infinite;
    background: rgba(131, 58, 180, 0.541);
    background: linear-gradient(0deg,
            rgb(255, 255, 255) 0%,
            rgb(235, 235, 235) 100%);

}

header {
    grid-area: header;
    border-top: 1px solid #999999;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 992px 1fr;
    grid-template-rows: auto;
    padding: 0 0px;
    grid-template-areas:
        "l-header c-header r-header";
    height: 64px
}

#l-header {
    border-bottom: 1px solid #999;
    height: 64px;
    box-sizing: border-box;
}

#r-header {
    border-bottom: 1px solid#999;
    height: 64px;
    box-sizing: border-box;
}

footer {
    grid-area: footer;
    height: 64px;
    /* border-top: 1px solid #999999; */
    border-bottom: 1px solid #999999;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 0 16px;
}

footer .inner {
    height: 64px;
    max-width: 992px;
    font-size: 1.0em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 992px
}

main {
    grid-area: main;
    min-height: calc(100vh - 132px);
}

nav {
    max-width: 992px;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 992px;
    height: 64px;
    border-bottom: 1px solid #999;
    box-sizing: border-box;
}

nav ul {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    height: 100%;
}

#left-nav {
    /* border-bottom: 1px solid red; */
    height: 64px;
}

#name {
    /* text-transform: uppercase; */
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    width: 100%;
    padding: 16px 16px
}

#name:hover {
    box-shadow: inset 200px 0 0 0 rgb(0, 64, 255);
    color: white;
}

nav ul li {
    margin: 0;
    padding: 0 16px;

}

nav #logo img {
    height: 48px;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 64, 255);
    margin: 0;
    font-weight: normal;
    transition: color .3s ease-in-out;
}

nav li a:hover {
    color: #aaa;
}

#left-sidebar {
    grid-area: left-sidebar;
    background-color: transparent;
}

#right-sidebar {
    grid-area: right-sidebar;
    background-color: transparent;
}

.section {
    padding: 0;
}

.no {
    color: var(--dark)
}